<head>
  <link href="/static/css/nouislider.css" rel="stylesheet" type="text/css">
  <link href="/static/css/bulma.css" rel="stylesheet" type="text/css">
  <style>
  h1 {
    font-size: 2vw !important;
  }
  h3 {
    font-size: 1.3vw !important;
  }
  .centerme {
    text-align: center;
  }
  </style>
</head>
<script src="/static/js/nouislider.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="columns">
  <div class="column">
  </div>  <div class="column is-two-thirds centerme">
<h1 class="is-large">The Greatest Baseball Players of {{minYear}} to {{maxYear}}</h1>
    </div>
<div class="column">
</div>
</div>
<div class="columns">
  <div class="column">
  </div>
  <div class="column">

    <h3>First Base</h3>
    {{#each firstbase}}
            <div class="col s11">
              <strong>{{this.namefirst}} {{this.namelast}}</strong>

              <br>

            </div>
            <div class="col s1">
              {{#if this.hravg}} Homeruns per year: {{this.hravg}} {{/if}}
             {{#if this.ops}} Average OPS:  {{this.ops}} {{/if}}
              <br>

            </div>

          {{/each}}
    </div>
  <div class="column">
  <h3>Second Base</h3>
  {{#each secondbase}}
          <div class="col s11">
            <strong>{{this.namefirst}} {{this.namelast}}</strong>

            <br>

          </div>
          <div class="col s1">
            {{#if this.hravg}} Homeruns per year: {{this.hravg}} {{/if}}
           {{#if this.ops}} Average OPS:  {{this.ops}} {{/if}}
            <br>

          </div>

        {{/each}}
    </div>
    <div class="column">

  <h3>Shortstop</h3>
  {{#each shortstop}}
          <div class="col s11">
            <strong>{{this.namefirst}} {{this.namelast}}</strong>

            <br>

          </div>
          <div class="col s1">
          {{#if this.hravg}} Homeruns per year: {{this.hravg}} {{/if}}
           {{#if this.ops}} Average OPS:  {{this.ops}} {{/if}}
            <br>

          </div>

        {{/each}}
      </div>
    <div class="column">

  <h3>Third Base</h3>
  {{#each thirdbase}}
          <div class="col s11">
            <strong>{{this.namefirst}} {{this.namelast}}</strong>

            <br>

          </div>
          <div class="col s1">
          {{#if this.hravg}} Homeruns per year: {{this.hravg}} {{/if}}
           {{#if this.ops}} Average OPS:  {{this.ops}} {{/if}}
            <br>

          </div>

        {{/each}}
    </div>
    <div class="column">
    </div>
    </div>

  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
  <h3>Catcher</h3>
  {{#each catcher}}
          <div class="col s11">
            <strong>{{this.namefirst}} {{this.namelast}}</strong>

            <br>

          </div>
          <div class="col s1">
            {{#if this.hravg}} Homeruns per year: {{this.hravg}} {{/if}}
           {{#if this.ops}} Average OPS:  {{this.ops}} {{/if}}
            <br>

          </div>

        {{/each}}
      </div>
      <div class="column">
  <h3>Outfield</h3>
  {{#each outfield}}
          <div class="col s11">
            <strong>{{this.namefirst}} {{this.namelast}}</strong>

            <br>

          </div>
          <div class="col s1">
              {{#if this.hravg}} Homeruns per year: {{this.hravg}} {{/if}}
            {{#if this.ops}} Average OPS:  {{this.ops}} {{/if}}
            <br>

          </div>

        {{/each}}
      </div>
    <div class="column">
<h3>Starting Pitchers</h3>
{{#each startingPitcher}}
        <div class="col s11">
          <strong>{{this.fname}} {{this.lname}}</strong>

          <br>

        </div>
        <div class="col s1">
          Average WHIP: {{this.avgwhip}}
          <br>
          Average ERA: {{this.avgera}}
          <br>
          Wins over this period: {{this.totalwins}}

        </div>

      {{/each}}
    </div>
<div class="column">
<h3>Elite Bullpen</h3>
{{#each bullpen}}
    <div class="col s11">
      <strong>{{this.fname}} {{this.lname}}</strong>

      <br>

    </div>
    <div class="col s1">
      Average WHIP: {{this.avgwhip}}
      <br>
      Average ERA: {{this.avgera}}
      <br>
      Saves over this period: {{this.totalsaves}}

    </div>

  {{/each}}
</div>
      <div class="column">
      </div>
</div>
<br><br>
<form action="/submit" method="POST">

<div class="columns">
<!-- Left border columns for slider -->
  <div class="column"></div>

  <div class="column">Min Year
  <select id="input-select" name="min_slider" class="select is-large"></select></div>
  <!-- Slider column -->
  <div class="column is-two-thirds">
                  <div class="example">
              <div id="html5"></div>
                  </div>
              <div class="columns">
                <div class="column">

                  </div>
                  <div class="column"><div class="field">
                    <label class="label">Batting stat weight for position players</label>
                    <div class="control">
                      <div class="select">
                        <select name="batting">
                          <option value="ops">OPS</option>
                          <option value="hr">Homers</option>
                          <option value="rbi">Runs Batted In</option>
                          <option value="rrbi">Runs scored plus RBI</option>
                        </select>
                      </div>
                    </div>
                  </div></div>
                <div class="column"><div class="field">
                    <label class="label">Pitching stat weight for starting pitchers</label>
                    <div class="control">
                      <div class="select">
                        <select name="starters">
                          <option value="sp_whip">Walks/Hits per Inning Pitched</option>
                          <option value="sp_era">Earned Run Average</option>
                          <option value="sp_wins">Wins</option>
                        </select>
                      </div>
                    </div>
                  </div></div>
                <div class="column"> <div class="field">
                    <label class="label">Pitching stat weight for bullpen</label>
                    <div class="control">
                      <div class="select">
                        <select name="bullpen">
                          <option value="bp_sv">Saves</option>
                          <option value="bp_whip">Walks/Hits per Inning Pitched</option>
                          <option value="bp_era">Earned Run Average</option>
                          <option value="bp_soip">Strikeouts Per Inning</option>
                        </select>
                      </div>
                    </div>
                  </div></div>
                  <div class="column"></div>
                <div class="column">

                </div>
              </div>
      <div class="columns">
        <div class="column is-one-third"></div>
          <div class="column is-one-third" style="text-align:center">
        <button type="submit" class="button is-large">Submit</button>
        </div>
        <div class="column is-one-third"></div>
      </div>

  </div>
  <!-- Right border columns for slider -->
  <div class="column">Max Year
  <select id="input-select-max" name="max_slider" class="select is-large"></select></div>
  <div class="column"></div>
</div>
</form>

    <script>
    var select = document.getElementById('input-select');
    var select_max = document.getElementById('input-select-max');

    // Append the option elements
    for ( var i = 1871; i <= 2016; i++ ){

    	var option = document.createElement("option");
    		option.text = i;
    		option.value = i;

      var option2 = document.createElement("option");
    		option2.text = i;
    		option2.value = i;

    	select.appendChild(option);
      select_max.appendChild(option2);
    }
    </script>
    <script>
    var html5Slider = document.getElementById('html5');

    noUiSlider.create(html5Slider, {
    	start: [ {{minYear}}, {{maxYear}} ],
    	connect: true,
    	range: {
    		'min': 1871,
    		'max': 2016
    	}
    });
    </script>
    <script>
    var inputNumber = document.getElementById('input-select-max');

    html5Slider.noUiSlider.on('update', function( values, handle ) {

    	var value = values[handle];

    	if ( handle ) {
    		inputNumber.value = Math.round(value);
    	} else {
    		select.value = Math.round(value);
    	}
    });

    select.addEventListener('change', function(){
    	html5Slider.noUiSlider.set([this.value, null]);
    });

    inputNumber.addEventListener('change', function(){
    	html5Slider.noUiSlider.set([null, this.value]);
    });
    </script>
